
/*h1{
    text-align: center;
    font-family: 'Poppins';
}*/
#banner{
    width: 100%;
    height: 250px;
    object-fit: cover;
    font-family: 'Poppins';
}
/*
h3{
    text-align: center;
    font-weight: normal;
    font-family: 'Poppins';
}
h2{
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: normal;
    color: rgb(100, 100, 100);
}
/*
.bodytext{
    font-family: 'Roboto';
    color: rgb(80, 80, 80);
*/
h4{
    color: rgb(120, 120, 120);
    margin-bottom: 4px;
}